{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
              "extensions": [".js", ".jsx"]
            }
        ],
        "no-unused-vars": 0,
        "max-len": [1, 120, 2, {"ignoreComments": true}],
        "eslint linebreak-style": [0, "error", "windows"],
        "linebreak-style": 0,
        "react/prop-types": 0,
        "no-dynamic-require": 0,
        "no-console": 0
    },
    "env": {
        "jest": true
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true
    }
}